@charset "UTF-8";

body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #141414;
}

.logo {
    width: 150px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.container {
    display: flex;
    height: calc(100vh - 60px); /* 헤더 높이만큼 제외 */
}

.left-panel {
    width: 40%;
    text-align: center;
    padding: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../../images/oldframe-background.png);
    background-size: cover;
    background-position: center;
}

.right-panel {
    width: 60%;
    padding: 20px;
    background-color: #686868;
}

.poster {
    width: 100%;
    height: auto;
}

.series-title {
    margin-top: 10px;
}

.included-movies {
    display: flex;
    flex-wrap: wrap;
}

.included-poster {
    width: 30%;
    margin: 10px;
}

h2, h3 {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}
