* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #141414;
}

.logo {
    width: 150px;
    
    padding-left: 30px;
  	padding-top: 10px; 
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0; /* 여백 제거 */
    padding: 0; /* 패딩 제거 */
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.content-detail {
    position: relative;
    height: 80vh;
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); /* 반투명 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    align-items: flex-start; /* 포스터와 텍스트 정렬 */
    max-width: 1200px;
    padding: 20px;
}

.poster {
    width: 300px;
    height: auto;
    margin-right: 40px;
    border-radius: 10px;
}

.details {
    max-width: 800px;
}

.details h1 {
    font-size: 32px; /* 제목 크기 */
    margin-bottom: 5px; /* 제목 아래 여백 */
}

.details h2 {
    font-size: 24px; /* 태그라인 크기 (기존보다 작게 조정) */
    font-weight: normal; /* 태그라인 두께 조정 */
    margin-bottom: 15px; /* 태그라인 아래 여백 */
}

.details p {
    line-height: 1.8; /* 줄 간격 증가 */
    margin: 5px 0;
}

.video-section {
    position: relative;
    padding: 50px;
    background-color: #141414;
}
.video-section h2{
	font-size: 24px;
    font-weight: normal;
    margin-bottom: 15px;
}

.video-container {
    display: flex;
    align-items: flex-start;
}

.video-item {
    flex: 0 0 auto;
    margin-right: 0;
}

.background-image {
    flex: 1;
    height: 405px;
    background-image: url('http://image.tmdb.org/t/p/w1280${detailData.backdropPath}');
    background-size: cover;
    background-position: center;
    margin-left: 0;
}

.video-list {
    display: flex;
    overflow-x: auto;
    width: calc(100% - 80px);
    scroll-behavior: smooth;
    overflow: hidden;
}

.cast-section {
    position: relative;
    background-color: #141414; /* 배경 색상 설정 */
    padding: 50px; /* 패딩 추가 */
}

.cast-container {
    display: flex;
    align-items: center;
    overflow: hidden; /* 스크롤바 숨기기 */
}

.cast-list {
    display: flex;
    overflow-x: auto; /* 수평 스크롤 가능 */
    width: calc(100% - 80px); /* 버튼 너비를 제외한 너비 */
    scroll-behavior: smooth; /* 부드러운 스크롤 효과 */
    overflow: hidden; /* 스크롤바 숨기기 */
}

.cast-item {
    position: relative;
    margin: 0 10px;
    flex: 0 0 auto; /* 아이템들이 고정된 크기로 표시되도록 설정 */
}

.actor-photo {
    width: 150px;
    height: auto;
    border-radius: 10px;
}

.actor-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7); /* 텍스트 배경 밝게 설정 */
    color: white; /* 텍스트 색상 변경 */
    text-align: center;
    opacity: 0; /* 처음에는 숨김 */
    transition: opacity 0.3s;
}

.actor h2{
	font-size: 24px;
    font-weight: normal;
    margin-bottom: 15px;
}

.cast-item:hover .actor-info {
    opacity: 1; /* 마우스 오버 시 표시 */
}

.cast-section h2 {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 15px;
}

.scroll-btn {
    background-color: transparent;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 24px;
    z-index: 1; /* 버튼이 다른 요소 위에 표시되도록 설정 */
}

.register-button {
    position: absolute; /* 절대 위치 설정 */
    bottom: 20px; /* 아래에서 20px 떨어진 위치 */
    left: 50%; /* 수평 중앙 정렬 */
    transform: translateX(-50%); /* 중앙 정렬을 위한 변환 */
    padding: 10px 20px; /* 패딩 추가 */
    background-color: rgba(255, 0, 0, 0.8); /* 빨간색 배경 (투명도 포함) */
    color: white; /* 텍스트 색상 */
    border: none; /* 테두리 제거 */
    border-radius: 5px; /* 모서리 둥글게 */
    font-size: 18px; /* 폰트 크기 */
    cursor: pointer; /* 커서 포인터로 변경 */
    transition: background-color 0.3s; /* 배경색 변화 효과 */
}

.register-button:hover {
    background-color: rgba(255, 0, 0, 1); /* 마우스 오버 시 배경색 변화 */
}

.play-button {
    position: absolute; /* 절대 위치 설정 */
    bottom: 20px; /* 아래에서 20px 떨어진 위치 */
    left: 50%; /* 수평 중앙 정렬 */
    transform: translateX(-50%); /* 중앙 정렬을 위한 변환 */
    padding: 10px 20px; /* 패딩 추가 */
    background-color: rgba(255, 0, 0, 0.8); /* 빨간색 배경 (투명도 포함) */
    color: white; /* 텍스트 색상 */
    border: none; /* 테두리 제거 */
    border-radius: 5px; /* 모서리 둥글게 */
    font-size: 18px; /* 폰트 크기 */
    cursor: pointer; /* 커서 포인터로 변경 */
    transition: background-color 0.3s; /* 배경색 변화 효과 */
}

.play-button:hover {
    background-color: rgba(255, 0, 0, 1); /* 마우스 오버 시 배경색 변화 */
}

.collection-detail {
    position: relative;
    height: 70vh;
    background-size: cover;
    background-position: center;
}

.collection-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); /* 반투명 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.collection-info {
    display: flex;
    align-items: flex-start; /* 포스터와 텍스트 정렬 */
    max-width: 1200px;
    padding: 20px;
}

.collection-poster {
    width: 300px;
    height: auto;
    margin-right: 40px;
    border-radius: 10px;
}

.collection-details {
    max-width: 600px;
}

.collection {
    max-width: 600px;
}

.collection-detail h1 {
    font-size: 32px; /* 제목 크기 */
    margin-bottom: 20px; /* 제목 아래 여백 */
}

.collection-detail h2 {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 15px;
}

.collection p {
    line-height: 1.8; /* 줄 간격 증가 */
    margin: 20px 0;
}

.rec-section {
    position: relative;
    background-color: #141414; /* 배경 색상 설정 */
    padding: 50px; /* 패딩 추가 */
}

.rec-container {
    display: flex;
    align-items: center;
    overflow: hidden; /* 스크롤바 숨기기 */
}

.rec-list {
    display: flex;
    overflow-x: auto; /* 수평 스크롤 가능 */
    width: calc(100% - 80px); /* 버튼 너비를 제외한 너비 */
    scroll-behavior: smooth; /* 부드러운 스크롤 효과 */
    overflow: hidden; /* 스크롤바 숨기기 */
}

.rec-item {
    position: relative;
    margin: 0 10px;
    flex: 0 0 auto; /* 아이템들이 고정된 크기로 표시되도록 설정 */
}

.rec-photo {
    width: 150px;
    height: auto;
    border-radius: 10px;
}

.rec-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7); /* 텍스트 배경 밝게 설정 */
    color: white; /* 텍스트 색상 변경 */
    text-align: center;
    opacity: 0; /* 처음에는 숨김 */
    transition: opacity 0.3s;
}

.rec-item:hover .actor-info {
    opacity: 1;
}

.rec-section h2 {
    font-size: 24px; /* 태그라인 크기 (기존보다 작게 조정) */
    font-weight: normal; /* 태그라인 두께 조정 */
    margin-bottom: 15px; /* 태그라인 아래 여백 */
}


