@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    background-color: #141414;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #141414;
}

.logo {
    width: 150px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.movie-slider {
    position: relative;
    overflow: hidden;
    height: 500px; /* 슬라이더 높이 설정 */
}

.slider-container {
    display: flex;
    transition: transform 0.5s ease; /* 부드러운 전환 효과 */
}

.slide {
    min-width: 100%; /* 전체 너비로 설정 */
    height: 100%; /* 슬라이드 높이 설정 */
    background-size: cover; /* 배경 이미지 크기 조정 */
    background-position: center; /* 중앙 정렬 */
    position: relative;
    z-index: 100;
}

.slide-title {
    position: absolute;
    bottom: 20px; /* 아래쪽 여백 */
    left: 20px; /* 왼쪽 여백 */
    font-size: 24px; /* 제목 크기 */
    background-color: rgba(0, 0, 0, 0.7); /* 반투명 배경 */
    padding: 10px; /* 패딩 추가 */
    border-radius: 5px; /* 모서리 둥글게 */
    color: white; /* 텍스트 색상 설정 */
}

.scroll-btn {
    background-color: transparent;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 24px;
    z-index: 10; /* 버튼이 다른 요소 위에 표시되도록 설정 */
}

.movie-section {
    position: relative;
    background-color: #141414; /* 배경 색상 설정 */
    padding: 10px;
}

.movie-container {
    display: flex;
    align-items: center;
    position: relative;
}

.movie-list {
    display: flex;
    overflow-x: visible; /* 수평 스크롤 가능 */
    width: calc(100% - 80px); /* 버튼 너비를 제외한 너비 */
    scroll-behavior: smooth; /* 부드러운 스크롤 효과 */
}

.collection-list {
    display: flex;
    overflow-x: visible; /* 수평 스크롤 가능 */
    width: calc(100% - 80px); /* 버튼 너비를 제외한 너비 */
    scroll-behavior: smooth; /* 부드러운 스크롤 효과 */

}

.movie-item {
    position: relative;
    margin: 0 10px;
    flex: 0 0 auto;
    transition: transform 0.3s ease;
}

.movie-poster {
    width: 150px;
    height: 230px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    position: relative; /* 부모에 대해 상대 위치 유지 */
}

.movie-info {
    text-align: center;
    width: 150px;
    opacity: 1; /* 항상 보이도록 설정 */
    transition: opacity 0.3s ease; /* 부드러운 전환 효과 */
}

.movie-item:hover {
    z-index: 10; /* 호버된 아이템을 다른 아이템보다 위에 표시 */
}

.movie-item:hover .movie-poster {
    transition: transform 0.3s;
    transform: scale(1.4); /* 포스터 크기 확대 */
    position: absolute; /* 포스터를 절대 위치로 설정 */
    top: -20px; /* 위로 이동 */
    left: -10px; /* 왼쪽으로 이동 */
    z-index: 20; /* 확대된 포스터를 가장 위에 표시 */
}

.reco-list {
    display: flex;
    overflow-x: visible; /* 수평 스크롤 가능 */
    width: calc(100% - 80px); /* 버튼 너비를 제외한 너비 */
    scroll-behavior: smooth; /* 부드러운 스크롤 효과 */
}
