@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    background-color: #141414;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #141414;
}

.logo {
    width: 150px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.movie-slider {
    position: relative;
    overflow: hidden;
    height: 80vh;
}

.slider-container {
    display: flex;
    transition: transform 0.5s ease;
    height: 100%;
    width: 100%;
}

.slide {
    min-width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);
}

.slide:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.slide-title {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 24px;
    color: white;
    z-index: 2;
}

.scroll-btn {
    background-color: transparent;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 24px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
}

.slide-btn {
    background-color: transparent;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 24px;
    z-index: 10;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.slide-btn.left {
    left: 10px;
}

.slide-btn.right {
    right: 10px;
}

.movie-section {
    position: relative;
    background-color: #141414;
    padding: 10px;
    z-index: 3;
}

.movie-container {
    display: flex;
    align-items: center;
    position: relative;
}

.collection-list, .movie-list, .coming-list, .reco-list, .aniKR-list, .aniJP-list, .aniUS-list, .reKR-list, .reJP-list, .reUS-list, .drKR-list, .drJP-list, .drUS-list {
    display: flex;
    overflow-x: hidden;
    width: calc(100% - 80px);
    scroll-behavior: smooth;
    position: relative;
}

.aniKR-list, .aniJP-list, .aniUS-list, .reKR-list, .reJP-list, .reUS-list, .drKR-list, .drJP-list, .drUS-list {
    margin-top: 50px;    
}

.movie-item {
    position: relative;
    margin: 0 10px;
    flex: 0 0 auto;
    transition: transform 0.3s ease;
    z-index: 1; 
}

.movie-poster {
    width: 150px; 
    height: 230px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.movie-info {
    text-align: center;
    width: 150px;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.movie-item:hover {
    z-index: 10;
}

.movie-item:hover .movie-poster {
    transform: scale(1.4);
    position: absolute;
    top: -40px;
    left: -10px;
}

.ani-section, .reality-section, .drama-section {
    margin: 20px;
}

.kr-section, .jp-section, .us-section {
    display: flex;
    margin-bottom: 30px;
    position: relative;
}

.kr-section h3, .jp-section h3, .us-section h3 {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
}

.big-poster-section-kr, .big-poster-section-jp, .big-poster-section-us, .big-reposter-section-kr, .big-reposter-section-jp, .big-reposter-section-us  {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 400px;
}

.big-poster-section-kr {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/aniKR.jpg);
    background-size: cover;
}

.big-reposter-section-kr {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/reKR.jpg);
    background-size: cover;
}

.big-poster-section-jp {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/aniJP.jpg);
    background-size: cover;
}

.big-reposter-section-jp {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/reJP.jpg);
    background-size: cover;
}

.big-poster-section-us {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/aniUS.jpg);
    background-size: contain;
}
.big-reposter-section-us {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/reUS.jpg);
    background-size: contain;
}

.big-poster {
    margin-top: 50px;
    width: 210px;
    height: 300px;
    cursor: pointer;
    border-radius: 10px;
}

.big-poster-title {
    text-align: center;
    margin-top: 10px;
    position: relative;
    width: 210px;
}

.big-poster-overview {
    text-align: left;
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.small-poster-section {
    width: 58%;
    display: flex;
    align-items: center;
    background-color: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.small-dposter-section {
    display: flex;
    align-items: center;
    width: 58%;
}

.big-dposter-section-kr, .big-dposter-section-jp, .big-dposter-section-us {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 400px;
}

.big-dposter-section-kr {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/drKR.jpg);
    background-size: cover;
}

.big-dposter-section-jp {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/drJP.jpg);
    background-size: cover;
}
.big-dposter-section-us {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/drUS.jpg);
    background-size: cover;
}

.drama-section {
	position: relative;
    background-color: #141414;
    padding: 10px;
    z-index: 3;
}

